<app-header></app-header>
<main class="container mt-5">
  <div class="card shadow">
    <div class="card-header">Transcreva textos em código morse</div>
    <div class="card-body">
      <app-input (alerta)="habilitaAlerta($event)"></app-input>
    </div>
  </div>
  <div id="alerta" class="alert alert-danger d-flex align-items-center mt-2" role="alert" *ngIf="habilitar">
    <div>
      Excedeu a quantidade de tentativas gratuitas para o seu IP, favor compra uma assinatura para continuar utilizando!
    </div>
  </div>
</main>
